<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @response_option.type %>
</p>

<%= link_to 'Edit', edit_response_option_path(@response_option) %> |
<%= link_to 'Back', response_options_path %>
